<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
  <div class="container">
      <div class="row">
      <h1 class="col-lg-12">Gestor de clientes</h1>
      <button class="btn btn-success col-lg-4 col-xl-12" type="button" name="button" on-click="obtenerClientes">Obtener clientes</button>
    </div>
    <div class="row">
      <table>
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td> [[item.CustomerID]] </td>
              <td> [[item.ContactName]] </td>
              <td> [[item.CompanyName]] </td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes() {

             var request = new XMLHttpRequest();
             request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
             request.setRequestHeader("Accept", "application/json");
             request.send();
             this.clientes = JSON.parse(request.responseText).value;
             console.log(this.clientes);
           }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
